body {
  background-image: url("/BD/images/bg6.jpg");
  background-size: cover;
  font: 1em sans-serif;
  padding: 0;
  margin: 0;
}

form {
  max-width: 300px;
  margin: 0;
  padding: 0 5px;
}
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
  /* requis pour composer de manière appropriée les éléments
     de formulaire sur les navigateurs fondés sur WebKit */
  -webkit-appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

#erreur {
  color: red;
}

#preview{
  display: flex;
  flex-wrap: wrap;
}

card{
  display: block;
  width: 250px;
    height: 400px;
    padding: 5px;
    border: 2px solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: bisque;
}
/* ------------check out-------------------------- */
.checkout-container{
  background: rgba(255, 255, 255, 0.75);
  width: 300px;
  height:500px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  text-align:center;
  z-index:10;
}
.table{
  width:98%;
  height:200px;
  overflow-y: scroll;     /* overflow = overflow-x + overflow-y */
  border:2px solid black;
  border-radius: 4px;
  background:white;
  padding:2%;
}
/* .col1-name{
  width:70%;
  height:100%;
  float:left;
}
.col2-price{
  width:29%;
  float:left;
  height:100%;
} */
.bin{
  margin-bottom: 5px;
  margin-top:5px;
}
.bin span{
  width:80%;
  float:left;
  text-align:left;
  padding:10px;
}
.bin img{
  width:10%;
  float:right;
  
}
.add-animation2{
  animation: shaker 0.75s;
  animation-iteration-count: infinite;
}
@-o-keyframes shaker {
  0% {transform: rotate(0deg);}
  29% {transform: rotate(0deg);}
  30% {transform: rotate(3deg);}
  31% {transform: rotate(4deg);}
  33% {transform: rotate(3deg);}
  35% {transform: rotate(0deg);}
  37% {transform: rotate(-3deg);}
  39% {transform: rotate(-4deg);}
  41% {transform: rotate(-3deg);}
  43% {transform: rotate(0deg);}
  45% {transform: rotate(3deg);}
  47% {transform: rotate(4deg);}
  49% {transform: rotate(3deg);}
  51% {transform: rotate(0deg);}
  53% {transform: rotate(-3deg);}
  55% {transform: rotate(-4deg);}
  57% {transform: rotate(-3deg);}
  59% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}
@-moz-keyframes shaker {
  0% {transform: rotate(0deg);}
  29% {transform: rotate(0deg);}
  30% {transform: rotate(3deg);}
  31% {transform: rotate(4deg);}
  33% {transform: rotate(3deg);}
  35% {transform: rotate(0deg);}
  37% {transform: rotate(-3deg);}
  39% {transform: rotate(-4deg);}
  41% {transform: rotate(-3deg);}
  43% {transform: rotate(0deg);}
  45% {transform: rotate(3deg);}
  47% {transform: rotate(4deg);}
  49% {transform: rotate(3deg);}
  51% {transform: rotate(0deg);}
  53% {transform: rotate(-3deg);}
  55% {transform: rotate(-4deg);}
  57% {transform: rotate(-3deg);}
  59% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}
@-webkit-keyframes shaker {
  0% {
    transform: rotate(0deg);
  }
  29% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(3deg);
  }
  31% {
    transform: rotate(4deg);
  }
  33% {
    transform: rotate(3deg);
  }
  35% {
    transform: rotate(0deg);
  }
  37% {
    transform: rotate(-3deg);
  }
  39% {
    transform: rotate(-4deg);
  }
  41% {
    transform: rotate(-3deg);
  }
  43% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(3deg);
  }
  47% {
    transform: rotate(4deg);
  }
  49% {
    transform: rotate(3deg);
  }
  51% {
    transform: rotate(0deg);
  }
  53% {
    transform: rotate(-3deg);
  }
  55% {
    transform: rotate(-4deg);
  }
  57% {
    transform: rotate(-3deg);
  }
  59% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.checkout{
  width:50%;
  margin: auto;
  height:50px;
  padding-top: .5em;
  margin-top: 2em;
  font-size: 1.5em;
  text-transform: uppercase;
  border: solid 2px #232323;
  color: #232323;
  border-radius: 0.4em;
  cursor:pointer;  
  background: white;
}
.checkout:hover{
  animation:none;
}