#preview {
    display: flex;
    flex-wrap: wrap;
}

body {
    background-image: url("image/BG1.jpg");
    background-size: cover;
  }

input {
    display: block;
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-left: auto;
    margin-right: auto;
}

.image {
    display: block;
    width: 60%;
    height: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 250px;
    height: 300px;
    padding: 5px;
}

/* .front, .back {
    position: absolute;
    backface-visibility: hidden;
    height: 300px;
}
.front {
    width: 200px;
    transform: rotateY(180deg);
} */

